.control {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.control label {
  font-weight: bold;
  color: #212529;
}

.control input {
  width: 70%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  color: #495057;
  font-size: 15px;
  outline: none;
}

.btn {
  background: #5cb85c;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}