body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.deleteBtn {
  background: black !important;
}

.btn {
  background: #5cb85c;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: row;
}

.shapeOne {
  width: 100px;
  height: 100px;
  background: #93b7be;
  border: 1px solid #554348;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shapeOne ul {
  margin: 0;
  padding: 0;
}

.shapeOne li {
  list-style-type: none;
}

.shapeTwo {
  width: 100px;
  height: 100px;
  background: #93b7be;
  border: 1px solid #554348;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shapeTwo ul {
  margin: 0;
  padding: 0;
}

.shapeTwo li {
  list-style-type: none;
}
