<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success save-btn" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input formControlName="imagePath" type="text" class="form-control" id="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="image-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" type="text" class="form-control" rows="6"
              id="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row" formArrayName="ingredients">
        <div class="col-xs-12">
          <div class="row" *ngFor="let ingredientCtr of controls; let i = index;" [formGroupName]="i">
            <div class="col-xs-8">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="amount">
              </div>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-3">
          <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
        </div>
        <div class="col-xs-3">
          <button [disabled]="!recipe.ingredients || recipe.ingredients.length === 0" type="button"
            class="btn btn-danger" (click)="onDeleteAllIngredients()">Delete All Ingredient</button>
        </div>
      </div>
    </form>
  </div>
</div>